<h1>Bienvenido {{dataUser.first_name}} {{dataUser.last_name}}</h1>


<h1>Lista de Productos</h1>
<div>
    {{#each payload}}
        <div>
            <article>
            <header>
                <p>{{this.title}}</p>
            </header>    
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <p>{{this.category}}</p>
            <p>{{this.code}}</p>
            <p>{{this.stock}}</p>
            <p>{{this.statusP}}</p>

            <form id="addCart" action="/api/carts" method="post" data-id="{{this._id}}" >
                <input type="number" id="quantity" placeholder="0">
            <button onclick="addProduct('{{this._id}}')">Agregar</button>
            </form>
            </article>
        </div>
    {{/each}}

        <div>
            <p>Paginas: {{this.totalPages}}</p>
            <p>Pagina Actual: {{this.page}}</p>
            <a href={{this.prevLink}}> Anterior </a>
            <a href={{this.nextLink}}> Siguiente </a>
        </div>
</div>



<script src="/js/cart.front.js"></script>