<h1>Lista de Productos del carrito</h1>
<div class="listContainerCart">
    
      <div class="productContainerCart">
        
         <article class="productDetailsCart">

            <header class="productTitle">
                <p>Detalles de tu Compra</p>
            </header>    
              <p>Codigo: {{{purchase.code}}}</p>
              <p>Total:  {{{purchase.amount}}}</p>
              <p>Usuario:  {{{purchase.purchaser}}}</p>
             
         </article>
      </div>
 
   
   
      <h3 class="subTitle">Compras Pendientes</h3>
     {{#each notStock}}
      <div class="productContainerCart">
        
         <article class="productDetailsCart">
        
            <header class="productTitle">
                <p>{{this.prodId.title}}</p>
            </header>    
              <p>Descripcion: {{this.prodId.description}}</p>
              <p>Precio: ${{this.prodId.price}}</p>
              <p>Categoria:  {{this.prodId.category}}</p>
              <p>Stock:  {{this.prodId.stock}} unidades</p>
              <p>Cantidad: {{this.quantity}}</p>
              
         </article>
      </div>
    {{/each}}
    
      <h3 class="subTitle">Te Notificaremos cuando este disponible!</h3>

      <a href="http://localhost:8080/api/productsdb" >Lista de Productos</a>
</div>
